{
  "printWidth": 180,
  "singleQuote": true,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "semi": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "editor.formatOnSave": true
}
